.carousel{
    margin: 5% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divCarousel{
    overflow: hidden;
    display: flex;
    border-radius: 20px;
}

.imgCarousel{
    position: relative;
    flex: 0 0;
    border-radius: 20px;
    transition: left linear 0.5s;
}


.left, .right{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    margin: 0 10px;
    user-select: none;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
}

.carousel-dots {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #bbb;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: #333;
}