@media (max-width: 1029px){
    footer{
      padding: 2% 5%;
    }
    
    .divSocialNetworks1,
    .divSocialNetworks2{
        gap: 100px;
    }

    .socialNetworks{
        gap: 100px;
    }
  }
  
  @media (max-width: 974px){
    header {padding: 1px 30px}

    .BasketPizza .divPrise {
        margin: 0 0 20% 50%;
    }
  }
  
  @media (max-width: 938px){
    .divSocialNetworks1,
    .divSocialNetworks2{
        gap: 70px;
    }

    .socialNetworks{
      gap: 70px;
    }
  }

  @media (max-width: 900px){
    .baners{display: none;}
    .banersMedia{display: block;}
  }
  
  @media (max-width: 811px){
    .socialNetworks{
      gap: 10%;
    }
  
    footer{
      padding: 2% 2%;
    }
  }
  
  @media (max-width: 770px){
    .phoneNumber{display: none;}
  }
  
  @media (max-width: 754px){
    .divSocialNetworks1,
    .divSocialNetworks2{
        flex-direction: column;
        gap: 0;
    }

    .socialNetworks{
      gap: 56%;
    }
  
    footer{
      padding: 2% 10%;
    }
  }


  @media (max-width: 609px){
    .title{
        display: flex;
        flex-direction: column;

        & h1{
            margin-bottom: 1cqi;
        }
    }
  }

  
  @media (max-width: 559px){
    .div2{display: none;}
    .div2Media{display: block;}
  
    .div1{gap: 170%;}
  }
  

  @media (max-width: 511px){
    header {padding: 1px 10px}
    .logo{display: none;}
  }


  @media (max-width: 495px){
    .socialNetworks{gap: 50%;}
    .div1{gap: 141%; text-align: right;}
  }


  @media (max-width: 439px){
    .div1{gap: 120%; text-align: right;}
  }


  @media (max-width: 397px){
    .socialNetworks{gap: 38%;}
    .div1{gap: 95%;}
  }


  @media (max-width: 369px){
    .banersMedia{width: 300px;}
  }


  @media (max-width: 348px){
    .socialNetworks{gap: 26%;}
    .div1{gap: 70%;}
  }